
@media screen and (max-width:425px){
    .info-bf{
        display: flex;
        flex-direction: column;
    }

    .productos-h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
        margin: 2%;
    }
      
    .textlg{
        font-size: large;
    }

    .row p{
        font-size: large;
    }
 
  
    .why__us__img{
        display: none;
    }
    .why__us__text{
        position: relative;
        left: 0%;
        padding-right: 0%;
            
    }

    .foot{
        @include central
    }

    .descrip{
        @include central;
        position: relative;
        left: 0%;
    }

    .img__descrip{
        position: absolute;
        left: 15%;
        
    }
    .main__fondo{
       display: grid;
       grid-template-columns: 1fr;
    }

    .main__sub{
        border: double 5px lavender;
        background-color: goldenrod;
        padding: 7px;
        margin: 5%;
    }
    
}

@media screen and (max-width:768px) {
    .info-bf{
       display: flex;
        
    }

    .contenedor{
        margin: auto;
        text-align: center;
        @include central;
    }

    h1{
        font-size: 4rem;
        padding: 7px;
        
    }

    h1 span{
        position: absolute;
        animation: none;
        border-left: none;
        background-color: transparent;
    }
    
    h2{
        font-size: 30px;
    }
    .header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__logo{
        width: 100px;
    }

    .header__list{
        align-items: center;
        justify-content: center;
    }

    .bodymain{
        width: 100vw;
        height: auto;
    }

    .footer{
        @include central;
        font-size: 10px;
    }
    
      .footer__logo{
        width: 50%;
        padding: 0px;
    }

    .footer__wp{
        padding: 0px;
        width: 50%;
    }

     .main__infor{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }    

    .main__titulo{
        font-size: xx-large;
    }
    
    .textlg{
        font-size: small;
    }
    
    .why__us{
        height: auto;
    }
    .why__us__img{
        position: relative;
    }
    .why__us__text{
        position: relative;
        left: 0%;
        padding-right: 0%;
            
    }
}