*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/*---BARRA DE NAVEGACIÓN---*/
.header__item{
    font-family: 'Oooh Baby', cursive; 
    font-size: x-large;
    margin: 5px; 
    height: 100%; 
    padding: 5px; 
}

.navbar-nav{
    align-items: center;
    font-family: 'Oooh Baby', cursive; 
    font-size: x-large;
}

.header__item1{
    font-family: 'Oooh Baby', cursive; 
    font-size: 10px;
    margin: 5px; 
    height: 100%; 
    padding: 5px; 
}

.nav-link{
    color: black;
    font-size: 20px;
}

.nav-link:hover{
    background-color: white; 
}

/*FIN BARRA DE NAVEGACIÓN*/

.separador{
    background-color: yellow;
    padding: 15px;
    margin: 0%;
}

/*---PAGINA DE INICIO---*/
.bodymain{
    background-color: #216283;
}

.contenedor {
	margin: auto;
	display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 { 
	position: relative; 
	float: left;
	background-color: #216283;
	color: white;
	font-size: 7rem;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

h1 span {
    position:absolute;
    right:0;
    width:0;
    background-color: #216283;
    border-left: 1px solid white;
    animation: escribir 5s steps(30);
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

/*INICIO FOOTER*/
.beneficios--ml{
    background-image: url(../assets/fondo2inicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-bf{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info--bf{
    width: 100%;
    border-radius: 50%;
    padding: 30px;
}

.footer{
    background-color: #c9b8c8;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__logo{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 80px;}

.footer__wp{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 80px;
}

/*FIN FOOTER*/

/* HTML NOSOTRAS*/

.main__nosotras{
    padding: 20px 20px;
    display: grid;
    grid-column: 1fr 1fr;
    background-color: #216283;}

.main__titulo{
    font-family: 'Corinthia', cursive;;
    font-size: -webkit-xxx-large;
    border: solid;
    text-align: center;
}

.row{
    display: flex;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: x-large;
    color: white;
}

.presentacion{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.card-text{
    color: black;
}

/*FIN HTML NOSOTRAS*/

/*HTML PRODUCTOS*/

h4{
    color: black;
    font-family: 'Abril Fatface', cursive;
    background-color: #216283;
}


/*HTML CONTACTO*/

h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: white solid 5px;
}

.form{
    width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color: olive ;
}

.input__submit{
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#000000;
    background-color: #e9e4b9;
} 
    
.input__submit:hover{
    cursor:pointer;
}

.textlg{
    font-size: calc(1.275rem + .3vw);
    font-weight: 300;
}
/*FIN HTML CONSULTA*/

/*------MEDIA QUERIES------*/

@media screen and (max-width:576px){
    .info-bf{
        display: flex;
        flex-direction: column;
    }
 
    .pie{
        display: flex;
        background-color: #c9b8c8;
    }
    
}

@media screen and (max-width:768px) {
    .info-bf{
       display: flex;
        
    }

    .contenedor{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 3rem;
        padding: 7px;
        background-color: transparent;
    }

    h1 span{
        position: absolute;
        animation: none;
        border-left: none;
        background-color: transparent;
    }
    
    .header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__logo{
        width: 100px;
    }

    .header__list{
        align-items: center;
        justify-content: center;
    }

    .bodymain{
        width: 100vw;
        height: auto;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }
    
      .footer__logo{
        width: 30%;
        padding: 14px;
    }

    .footer__wp{
        padding: 18px;
        width: 30%;
    }

     .main__infor{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }    

    .main__titulo{
        font-size: xx-large;
    }

    .textlg{
        font-size: small;
    }

}

    