@charset "UTF-8";
/*Fuentes de google*/
@import url("https://fonts.googleapis.com/css2?family=Corinthia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
/*Header*/
/*-------ACLARACIÓN------------*/
/*En este scss que tiene el nombre de _mapas, incluye también al mixin*/
/*En el caso del extend lo apliqué directamente en _contacto.scss, lo cual voy a aclar
También $boton es un mapa que lo utilicé para ese mismo scss*/
/*$estilos y $color son mapas que los he ustilizado en _intro y colores principales de la página*/
/*Acá está el mixin que lo he aplicado donde utilizo el display flex, entre otros*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oooh Baby', cursive;
  font-size: x-large;
}

.navbar-nav .header__item {
  font-family: 'Oooh Baby', cursive;
  font-size: x-large;
  margin: 5px;
  height: 100%;
  padding: 5px;
}

.nav-link {
  color: white;
  font-size: 20px;
}

.nav-link:hover {
  background-color: white;
}

.separador {
  background-color: yellow;
  padding: 15px;
  margin: 0%;
}

/*HTML Inicio*/
/*-------ACLARACIÓN------------*/
/*En este scss que tiene el nombre de _mapas, incluye también al mixin*/
/*En el caso del extend lo apliqué directamente en _contacto.scss, lo cual voy a aclar
También $boton es un mapa que lo utilicé para ese mismo scss*/
/*$estilos y $color son mapas que los he ustilizado en _intro y colores principales de la página*/
/*Acá está el mixin que lo he aplicado donde utilizo el display flex, entre otros*/
.bodymain {
  background-color: #216283;
}

.contenedor {
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  position: relative;
  background-color: #216283;
  color: white;
  font-size: 6rem;
  font-family: 'Caveat Brush', cursive;
  text-align: center;
}

h1 span {
  position: absolute;
  right: 0;
  width: 0;
  background-color: #216283;
  border-left: 1px solid white;
  -webkit-animation: escribir 5s steps(30);
          animation: escribir 5s steps(30);
}

@-webkit-keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.beneficios--ml {
  background-image: url(../assets/fondo2inicio.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.beneficios--ml .info-bf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.beneficios--ml .info-bf .info--bf {
  width: 100%;
  border-radius: 50%;
  padding: 30px;
}

.why__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 50px;
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfce9), color-stop(35%, #ebc0ea), color-stop(100%, #c9b8c0), to(#00d4ff));
  background: linear-gradient(180deg, #fdfce9 0%, #ebc0ea 35%, #c9b8c0 100%, #00d4ff 100%);
}

.why__us .why__us__img {
  width: 30%;
  border: solid 5px lavenderblush;
  position: absolute;
  height: auto;
  top: 10%;
  left: 8%;
}

.why__us .why__us__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  position: relative;
  padding-right: 40%;
  left: 40%;
}

.why__us .why__us__text .why__us__tit {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.875em;
  color: black;
  text-align: center;
  margin-bottom: 1rem;
}

.why__us .why__us__text .why__us__lg {
  text-align: justify;
  font-size: 1.0625em;
  margin-bottom: 2rem;
}

/*Footer*/
/*-------ACLARACIÓN------------*/
/*En este scss que tiene el nombre de _mapas, incluye también al mixin*/
/*En el caso del extend lo apliqué directamente en _contacto.scss, lo cual voy a aclar
También $boton es un mapa que lo utilicé para ese mismo scss*/
/*$estilos y $color son mapas que los he ustilizado en _intro y colores principales de la página*/
/*Acá está el mixin que lo he aplicado donde utilizo el display flex, entre otros*/
.footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #c9b8c0;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9b8c0), color-stop(35%, #a884a7), color-stop(100%, #585154), to(#00d4ff));
  background: linear-gradient(180deg, #c9b8c0 0%, #a884a7 35%, #585154 100%, #00d4ff 100%);
}

.footer .footer__h5 {
  font-size: large;
}

.footer .footer__logo {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 45px;
}

.footer .footer__wp {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 45px;
}

/*HTML Nosotras*/
/*-------ACLARACIÓN------------*/
/*En este scss que tiene el nombre de _mapas, incluye también al mixin*/
/*En el caso del extend lo apliqué directamente en _contacto.scss, lo cual voy a aclar
También $boton es un mapa que lo utilicé para ese mismo scss*/
/*$estilos y $color son mapas que los he ustilizado en _intro y colores principales de la página*/
/*Acá está el mixin que lo he aplicado donde utilizo el display flex, entre otros*/
.main__nosotras {
  padding: 20px 20px;
  display: -ms-grid;
  display: grid;
  grid-column: 1fr 1fr;
  background-color: #216283;
}

.main__nosotras .main__titulo {
  font-family: 'Corinthia', cursive;
  font-size: -webkit-xxx-large;
  border: solid;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
  font-size: x-large;
  color: white;
}

.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.presentacion .card-text {
  color: black;
  font-family: 'Laila', sans-serif;
}

/*HTML Productos*/
/*-------ACLARACIÓN------------*/
/*En este scss que tiene el nombre de _mapas, incluye también al mixin*/
/*En el caso del extend lo apliqué directamente en _contacto.scss, lo cual voy a aclar
También $boton es un mapa que lo utilicé para ese mismo scss*/
/*$estilos y $color son mapas que los he ustilizado en _intro y colores principales de la página*/
/*Acá está el mixin que lo he aplicado donde utilizo el display flex, entre otros*/
h4 {
  color: black;
  font-family: 'Abril Fatface', cursive;
  background-color: #216283;
}

.main__fondo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background-image: url(../assets/fondo2inicio.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__sub {
  text-align: center;
  border: double 5px #c9b8c0;
  background-color: goldenrod;
  padding: 7px;
  margin: 5%;
}

.descrip {
  background: transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 1px 0;
  padding: 0;
  left: 86px;
}

.main__dise {
  position: relative;
  -webkit-transition: 2s -webkit-transform;
  transition: 2s -webkit-transform;
  transition: 2s transform;
  transition: 2s transform, 2s -webkit-transform;
  display: block;
  width: 70%;
}

.img__descrip {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background-color: rgba(201, 184, 192, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: black;
  font-family: sans-serif;
  -webkit-transition: 0.5s opacity ease-in-out;
  transition: 0.5s opacity ease-in-out;
  opacity: 0%;
}

.img__descrip .img__descrip:before {
  position: absolute;
  left: -10%;
  top: -20%;
  width: 10%;
  height: 150%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: rotate(15deg) translateX(-100%);
          transform: rotate(15deg) translateX(-100%);
  -webkit-transition: 2s all;
  transition: 2s all;
}

.descrip:hover .main__dise {
  -webkit-transform: scale(1) rotate(2deg);
          transform: scale(1) rotate(2deg);
}

.descrip:hover .img__descrip {
  opacity: 1;
}

.descrip:hover .img__descrip .descrip:hover .img__descrip:before {
  -webkit-transform: rotate(150deg) translateX(0);
          transform: rotate(150deg) translateX(0);
}

.productos-h1 {
  position: relative;
  background-color: #216283;
  color: black;
  font-size: 6rem;
  font-family: 'Caveat Brush', cursive;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Oooh Baby';
  font-weight: bolder;
  font-size: 50px;
  background-color: burlywood;
}

/*HTML Galeria*/
.dise--ga {
  border: solid 5px #c9b8c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  overflow: hidden;
}

.dise--ga:hover {
  -webkit-transform: translateY(-3px) scale(1.1);
          transform: translateY(-3px) scale(1.1);
}

/*HTML Contacto*/
/*-------ACLARACIÓN------------*/
/*En este scss que tiene el nombre de _mapas, incluye también al mixin*/
/*En el caso del extend lo apliqué directamente en _contacto.scss, lo cual voy a aclar
También $boton es un mapa que lo utilicé para ese mismo scss*/
/*$estilos y $color son mapas que los he ustilizado en _intro y colores principales de la página*/
/*Acá está el mixin que lo he aplicado donde utilizo el display flex, entre otros*/
h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  border: white solid 5px;
}

.form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #216283;
}

/*Acá apliqué el extend*/
.input__submit, .input__submit__send, .input__submit__clear {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  color: black;
  background-color: #e9e4b9;
}

.input__submit__send {
  background-color: lightblue;
}

.input__submit__clear {
  background-color: tomato;
}

.input__submit:hover, .input__submit__send:hover, .input__submit__clear:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.textlg {
  font-size: calc(1.275rem + .3vw);
  font-weight: 300;
}

/*Variables color main*/
/*Media queries*/
@media screen and (max-width: 425px) {
  .info-bf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productos-h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    margin: 2%;
  }
  .textlg {
    font-size: large;
  }
  .row p {
    font-size: large;
  }
  .why__us__img {
    display: none;
  }
  .why__us__text {
    position: relative;
    left: 0%;
    padding-right: 0%;
  }
  .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .descrip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: 0%;
  }
  .img__descrip {
    position: absolute;
    left: 15%;
  }
  .main__fondo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main__sub {
    border: double 5px lavender;
    background-color: goldenrod;
    padding: 7px;
    margin: 5%;
  }
}

@media screen and (max-width: 768px) {
  .info-bf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contenedor {
    margin: auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h1 {
    font-size: 4rem;
    padding: 7px;
  }
  h1 span {
    position: absolute;
    -webkit-animation: none;
            animation: none;
    border-left: none;
    background-color: transparent;
  }
  h2 {
    font-size: 30px;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    width: 100px;
  }
  .header__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bodymain {
    width: 100vw;
    height: auto;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 10px;
  }
  .footer__logo {
    width: 50%;
    padding: 0px;
  }
  .footer__wp {
    padding: 0px;
    width: 50%;
  }
  .main__infor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__titulo {
    font-size: xx-large;
  }
  .textlg {
    font-size: small;
  }
  .why__us {
    height: auto;
  }
  .why__us__img {
    position: relative;
  }
  .why__us__text {
    position: relative;
    left: 0%;
    padding-right: 0%;
  }
}

/*mapas*/
/*-------ACLARACIÓN------------*/
/*En este scss que tiene el nombre de _mapas, incluye también al mixin*/
/*En el caso del extend lo apliqué directamente en _contacto.scss, lo cual voy a aclar
También $boton es un mapa que lo utilicé para ese mismo scss*/
/*$estilos y $color son mapas que los he ustilizado en _intro y colores principales de la página*/
/*Acá está el mixin que lo he aplicado donde utilizo el display flex, entre otros*/
/*# sourceMappingURL=main.css.map */